@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 215 29% 94%;
    --foreground: 224 76% 15%;
    --card: 215 29% 99%;
    --card-foreground: 224 76% 15%;
    --popover: 215 29% 99%;
    --popover-foreground: 224 76% 15%;
    --primary: 221 44% 41%;
    --primary-foreground: 0 0% 98%;
    --secondary: 216 34% 90%;
    --secondary-foreground: 221 44% 41%;
    --muted: 216 34% 90%;
    --muted-foreground: 215 16% 47%;
    --accent: 300 100% 25%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 216 34% 85%;
    --input: 216 34% 85%;
    --ring: 221 44% 41%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 224 76% 10%;
    --foreground: 0 0% 98%;
    --card: 224 76% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 224 76% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 221 44% 41%;
    --secondary: 216 34% 17%;
    --secondary-foreground: 0 0% 98%;
    --muted: 216 34% 17%;
    --muted-foreground: 215 16% 67%;
    --accent: 300 100% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --ring: 221 44% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  html {
    @apply scroll-smooth;
  }
}
